@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
Nav {
  background: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px;
  }

}